#Home{
    background-color: khaki;
}
#Home nav{
    text-align: center;
}
#Shop{
    background-color: khaki;
    text-align: center;
}
#Contact_us{
    background-color: khaki;
    text-align: center;
}
#Form{
    background-color: khaki;
    text-align: center;
}
#About_us{
    background-color: khaki;
    text-align: center;
}